#banner{
    background-image: url('https://cartelescine.files.wordpress.com/2022/07/onepieceredbanner.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 600px;
}